.simple-clock-container {
    font-family: 'Segoe U', 'JetBrains Mono', monospace;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: color 0.5s ease, font-size 0.3s ease; /* Smooth transitions */
}

#s-d {
    margin: 0 0.1em;
    transition: opacity 0.8s ease-in-out; /* Smooth fade for the dots */
}